@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;1,400&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,300;0,400;0,500;1,400&family=Open+Sans:wght@500&family=Poppins&display=swap");

:root {
  --heading-font: "Merriweather";
  --plain-text-font: "Nunito";
  --heading-color: #0092ca;
  --text-color-light: #3e3939;
  --text-color-dark: #222831;
  --background-color: #eeeeee;
}
body {
  font-family: var(--plain-text-font);
}

h1 {
  font-family: var(--heading-font);
  color: var(--heading-color);
}
p {
  font-family: var(--plain-text-font);
  color: var(--text-color-light);
}
.hero {
  background-color: var(--background-color);
  text-align: center;
}
