@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --heading-font: "Playfair Display", serif;
  --plain-text-font: "Poppins", sans-serif;
  --heading-color: #0092ca;
  --text-color-light: #3e3939;
  --text-color-dark: #222831;
  --background-color: #eeeeee;
}
body {
  font-family: var(--plain-text-font);
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--heading-color);
  font-size: 96px;
  line-height: 1.5;
}
p {
  font-family: var(--plain-text-font);
  font-weight: normal;
  color: var(--text-color-light);
}
.hero {
  background: var(--background-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--text-color-dark);
}
.hero h2 {
  font-family: var(--plain-text-font);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}
.btn-branding {
  background: var(--heading-color);
  border-radius: 4px;
  color: var(--background-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border-color: var(--heading-color);
  border-radius: 4px;
  color: var(--heading-color);
  font-size: 16px;
  line-height: 25px;
  padding: 6px 20px;
}
h2,
h3,
h4 {
  font-family: var(--heading-font);
  margin-top: 25px;
}
.project-description {
  padding: 40px 20px;
  line-height: 1.5;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 36px;
  }
  .hero {
    padding: 40px 20px;
  }
  .project-description {
    padding: 0;
    text-align: justify;
  }
}
