@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --heading-font: "Playfair Display", serif;
  --plain-text-font: "Poppins", sans-serif;
  --heading-color: #0092ca;
  --text-color-light: #3e3939;
  --text-color-dark: #222831;
  --background-color: #eeeeee;
}
body {
  font-family: var(--plain-text-font);
}
a {
  text-decoration: none;
  font-style: ;
}
h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--heading-color);
  font-size: 96px;
  line-height: 1.5;
}

h4 {
  font-size: 18px;
  font-family: var(--heading-font);
}
p {
  font-family: var(--plain-text-font);
  font-weight: normal;
  color: var(--text-color-light);
}
.hero {
  background: var(--background-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--text-color-dark);
}
.hero h2 {
  font-family: var(--plain-text-font);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}
.btn-branding {
  background: var(--heading-color);
  border-radius: 4px;
  color: var(--background-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border-color: var(--heading-color);
  border-radius: 4px;
  color: var(--heading-color);
  font-size: 16px;
  line-height: 25px;
  padding: 6px 20px;
}
h2,
h3 {
  font-family: var(--heading-font);
  margin-top: 25px;
}
.project-description {
  padding: 40px 20px;
  line-height: 1.5;
}

.content-container {
  padding: 160px 20px;
}

.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--plain-text-font);
}
.content h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--plain-text-font);
}
.content p {
  font-size: 14px;
  font-family: var(--plain-text-font);
}

nav {
  padding: 20px 0;
}
.logo {
  max-height: 40px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--heading-color);
}
nav li.active a:hover {
  color: #272142;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: var(--background-color);
  padding: 30px 40px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: #272142;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--heading-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--heading-color);
  background: var(--background-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--background-color);
  background-color: var(--heading-color);
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 36px;
  }
  .hero {
    padding: 40px 20px;
  }
  .project-description {
    padding: 0;
    text-align: justify;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
}
